!!!
%head
  == <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
  == <script src="script.js"></script>
  == <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
%body
  %form
    Ширина (мм):
    %input{:type => 'number', :name => 'width', :value => 0}
    %br
    Длина (мм):
    %input{:type => 'number', :name => 'length', :value => 0}
    %br
    Количство (шт):
    %input{:type => 'number', :name => 'amount', :value => 1}
    %br
    Материал:
    %select#material
      %option 100g/m
      %option 200
      %option 300
    %br
    Качество:
    %select#quality
      %option 100
      %option 200
      %option 300
    %br
    .price Цена: 1000
    .time